*{
    padding:0%;
    margin:0%;
}
.body1{
    background:url(./assets/pr.jpg);
    background-position-x: 100%;
    background-size: cover;
    background-position: 100%;
    background-clip: inherit;
    color:slategray;
}
img{
    object-fit: cover;
    object-position: top;
}